@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --background: #1e2127;
  --light-blue-transparent: #96afd763;
}

.dottedBackground {
  background-color: var(--background);
  background-image:
    radial-gradient(circle at 1px 1px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 1px 5px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 1px 10px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 1px 16px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 5px 1px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 10px 1px, var(--light-blue-transparent) 1px, transparent 0),
    radial-gradient(circle at 16px 1px, var(--light-blue-transparent) 1px, transparent 0);
  background-size: 20px 20px; /* Total repeat cycle for the pattern */
}

@layer utilities {
  @keyframes gradient-move {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
  .animate-gradient-move {
    animation: gradient-move 10s ease-in-out infinite;
    background-size: 200% 200%;
  }
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
  }
  .animate-fade-in {
    animation: fade-in 1s both;
  }
}
